.book-list {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-cart{
    position: relative;
    width: 23%;
    height: 550px;
    border: 2px solid grey;
    border-radius: 10px;
}

.book-cart-image{
    width: 90%;
    margin: 10px auto;

}

.book-cart-image img {
    width: 100%;
    height: 250px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 10px;
}

.book-name {
    position: relative;
    min-height: 70px;
    border-bottom: 1px solid gray;
}

.book-name h4{ 
    position: absolute;
    color:rgb(10, 10, 10);
    bottom: 5px;
    right: 0;
    margin-right: 10px;
}
.cart-book-author {
    color:rgb(59, 55, 55);
}
.book-discripion p{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 70px;
    padding: 5px;

}
.book-discripion h4{
    margin-left: 50%;
}
.book-diskription-title {
    font-weight: bold;
    color:rgb(10, 10, 10);
}

.book-price {
    font-size: 25px;   
}

.cart-prices {
    margin-top: 15px;
}

.cart-current-price {
    position: relative;
    font-weight: bold;
    color: rgb(16, 75, 16);
}

.sale {
    position: absolute;
    top: 10px;
    height: 15px;
    width: 40px;
    background-color: brown;
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 5px;
    border: 1px solid rgb(180, 154, 7);
    border-radius: 3px;
}
.cart-buy {
    font-size: 18px;
    background-color: rgb(160, 160, 160);
    border-color: rgb(87, 87, 87);
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
}
.cart-buy img {
    height: 20px;
    width: 35px;
}

.cart-buy:hover {
    background-color: rgb(108, 117, 92);
    color: rgb(206, 199, 186);
    
}
.cart-price {
    color: rgb(3, 3, 3);
}

.active-page {
    display: block;
}


.paginator > button {
    font-weight: bold;
    width: 40px;
    height: 25px;
    background-color: rgb(179, 164, 147);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}

.paginator > button:hover {
    background-color: rgb(136, 126, 114);
    color: rgb(248, 224, 178);
}

.paginator > button.paginator-scroll{
    width: 60px;
    font-weight: bold;
}   


#paginator-active {
    font-size: 16px;
    background-color: rgb(243, 216, 181); 
}
#paginator-active:hover {
    background-color: rgb(136, 173, 155); 
    color: black;
}


.book-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.book-list::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.book-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
@media screen and (max-width: 1200px) {
    .sale {
        font-size: 14px;
        width: 30px;
        margin-left: 2px;
    }   
}


@media screen and (max-width: 1050px) {
    .book-list {
        overflow-x: auto;
        height: 560px;
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }
    .book-cart{
        width: 75%;
        height: 550px;
        margin-bottom: 10px;
    }
    .book-cart-image img {
        width: 65%;
        height: 290px;
    }
    .book-name {
        height: 30px;
    }
    .book-discripion p {
        height: 50px;
    }

    .paginator {
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px) {
    .content-section {
        min-height: 700px;
        padding-top: 70px;
        width: 100%;

    }
     .book-list {
        width: 94%;
    }
    .book-cart{
        width: 90%;
    }
    .cart-buy {
        height: 40px;
    }
    .paginator {
        margin-top: 20px;
    }
}