.categories {
    min-height: 410px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

.category {
    width: 32%;
    height: 200px;
    background-color: rgb(238, 255, 0);
    border: 2px solid black;
}

@media screen and (max-width: 800px) {
   .categories {
       min-height: 620px;
    }
    .category {
        width: 49%;
    }

}

@media screen and (max-width: 440px) {
   .categories {
       min-height: 1250px;
       flex-wrap: nowrap;
       flex-direction: column;
       align-content: space-between;
    }
    .category {
        width: 100%;
    }

}
