footer {
    width: 100%;
    background-color: rgb(58, 51, 18);
    font-size: 16px;
    padding: 20px;
}

.text-footer {
    width: 60%;
    color: rgb(207, 194, 194);
    float: left;
}

.social-media {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(207, 194, 194);

}
