.slider-controler {
    display: block;
    width: 20%;
    height: 550px;
    border: none;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(168, 168, 168);
}

.slider-controler:hover {
  background-color: #8b8b8b;
}

.slider-controler:active:first-child {
  background-color: #858383;
  color: #570606;
}

.slider-controler:active:last-child {
  background-color: #858383;
  color: rgb(7, 61, 19);
}


@media screen and (max-width: 1050px) {

    .slider-controler:hover {
        background-color: rgb(168, 168, 168);
    
    }
}


@media screen and (max-width: 440px) {

    .slider-controler {
        width: 15%;
        height: 550px;
    }

    .slider-controler:hover {
        background-color: rgb(168, 168, 168);
    }

}
