aside {
     width: 20%;
}

.filter-wrapp {
    width: 100%;
    height: 650px;
    background-color: rgb(177, 171, 144);
    border-right: 2px solid black;
    text-align: left ;
}

aside label.toggleMenu{
    background: #ececed;
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
} 

aside [type="checkbox"],
aside label.toggleSubmenu{
    display: none;
}

@media screen and (max-width: 900px) {

    aside {
        width: 100%;
    }

    .filter-wrapp {
        display: none;
        width: 100%;
        height: 600px;
        border-right: none;
        border-bottom: 2px solod rgb(0, 0, 0);
    }

    input.toggleMenu:checked ~ .filter-wrapp{
        display: block;
    }

    aside label.toggleMenu{
        position: absolute;
        top: 50px;
        width: 50%;
        display: block;
        text-align: center;
    }
}