header {
    text-align: center;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    background: #ececed;
}

.logo {
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    padding: 5px 5px 5px 50px; 

}

.logo img {
    padding-top: 6px; 
    font-size: 30px; 
    width: 40px;
    height: 40px;
    background: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
} 
.logo h1 {
    padding-left: 15px;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 30px; 
} 

ul {
    list-style: none;
}

nav > ul{
    display: flex;
    justify-content: flex-end;
}    
ul span {
    color:#454547;
}
nav > ul li .link{
    display: block;
    background: #ececed;
    padding: 17px;
    color: #454547;
    width: 160px;
    font-size: 14px;
    text-decoration: none;
    text-transform:uppercase;
}

nav > ul li{
    position: relative;
    border-left: 1px solid #c7c8ca;
    z-index: 1000;
}   

nav li .link:hover{
    background: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}    

nav li ul{
    position: absolute;
    display: none;
}    

nav li > ul li{
    border: 1px solid #c7c8ca;
    z-index: 100;
} 

nav li:hover > ul{
    display: block;
}  

nav label.toggleMenu{
    background: #ececed;
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
} 

.toggleMenu img {
    width: 20px;
    height: 20px;
}
nav [type="checkbox"],
nav label.toggleSubmenu{
    display: none;
}   

@media screen and (max-width: 1200px) {
    .logo {
        padding-left: 10px;
    }
    .logo h1 {
        padding-left: 5px;
        padding-top: 10px; 
        font-size: 18px; 
    } 

}
@media screen and (max-width: 900px) {
    .logo {
        justify-content: center;
    }
    .logo h1 {
        padding-left: 5px;
        padding-top: 5px; 
        font-size: 26px; 
    }
    header {
        flex-direction: column;
        justify-content: end;
    }

    nav{
        overflow: hidden;
        text-align: center;
    }
    nav > ul{
        display: none;
        margin-top:50px;
    }
    nav ul li .link{
        width: 100%;
    }
    nav [type="checkbox"]{
        display: none;
    }  
    nav > ul li ul li .link {
        background-color: #cfcfd3;
    } 
    nav label.toggleMenu{
        border-left: 1px solid rgb(156, 153, 153); 
        position: absolute;
        top:50px;
        right: 0;
        display: block;
        width: 50%;
    } 
    nav label.toggleMenu .fa{
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 18px;
    }
    .row {
        font-weight: bold;
        font-size: 23px;
    }
    input.toggleMenu:checked + label.toggleMenu{
        background: rgb(49, 47, 47);
        color: #fff;
    }
    input.toggleMenu:checked ~ ul{
        display: block;
    }
    nav label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
    input.toggleSubmenu:checked ~ .link{
        background: #454547;
        color: #fff;
    }
    input.toggleMenu:checked ~ ul,
    input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
    }
    nav label.toggleSubmenu .fa::before{
        content: "\f0d7";
        color: #454547;
    }
    nav label.toggleSubmenu .fa{
        position: absolute;
        top: 15px;
        right: 30px;
    }
    nav input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
        content: "\f0d8";
        color: #ffffff;
    }                  

}