.slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: rgb(14, 14, 14);
}

.active {
    width: 60%;
    display: block;
}

.disable{
    display: none;
}

@media screen and (max-width: 900px) {
    .slider {
        padding: 50px 0;
        height: 700px;
    }
    .slider, .slide  {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {

    .slider, .slide  {
        width: 100%;
    }
    .slide {
        margin-top: 25px;
    }
}