* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: #454547;
}

.link:hover{
    color: #ffffff;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 440px) {
    .container {
        flex-direction: column;
    }

}