@import url("./content/slider.css");
@import url("./content/categories.css");
@import url("./content/scroll.css");


main {
    width: 80%;
    min-height: 600px;
    background-color: aqua;
    padding: 20px 0;
}

.scrolling-wrapper{
    overflow-y: auto;
    height: 580px;
    overflow-x: hidden;
    text-align: center;
    min-height: 490px;
    width: 96%;
    margin: auto;
    padding: 10px;
    background-color: rgb(226, 226, 209);
}

.scrolling-wrapper h3 {
    margin: 30px;
    font-size: 20px;
}




@media screen and (max-width: 800px) {
    .scrolling-wrapper{
        width: 100%;
        min-height: 1220px;
        overflow-y: hidden;
        padding: 10px;
    }
    main {
        padding: 0;
        width: 100%;
    }

}
@media screen and (max-width: 440px) {
    .scrolling-wrapper{
        width: 100%;
        min-height: 1780px;
        overflow-y: hidden;
        padding: 10px;
    }
    main {
        padding: 0;
        width: 100%;
    }

}