body {
    background: #ececed;
}

.register-form {
    width: 60%;
    margin: auto;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    
}
.register-form h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 15px 0;
    color: rgb(56, 86, 87);
}

.register-field {
    margin: 15px 0;
    height: 60px;
}

.register-field label {
    font-size: 20px;
    margin: 15px 0;
    margin-bottom: 10px;
}

.register-form input{
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgb(179, 178, 212);
    width: 50%;
    background: #cfd8e4;
    border-radius: 10px;
}

.register-form input[type="submit"] {
    background: #062a5a;
    color: #ececed;
    text-transform: uppercase;
    margin-top: 15px;
}
  
.register-form input[type="submit"]:hover {
    background: #0b7dda;
}