.my-books-wrapp {
    width: 700px;
    margin: 20px auto;
    text-align: left;
}

.small-cart {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    color: black;
}


.cart-image > img {
    width: 80px;
    height: 105px;
    border-radius: 5px;
}

.cart-property {
    margin-top: 15px;
    width: 230px;
    margin-left: 20px;
}
.cart-property>h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.cart-property>h5 {
    font-size: 16px;

}

.grey {
    color: rgb(88, 87, 87);
}

.max-price {
    font-size: 16px;
}
.max-price>span {
    color: green;
}

.cart-button {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.book-cart-status {
    font-size: 18px;
    margin-top: 30px;
}

.btn-purc {
    margin-top: 30px;
}

.small-btn {
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.btn-view {
    text-align: center;
    padding-top: 5px; 
    font-weight: bold;
    font-size: 16px;
    border-color: rgb(107, 150, 150);
    background-color: rgb(181, 181, 231);
}
.btn-view:hover {
    background-color: rgb(131, 131, 165);
    color: rgb(224, 209, 182);
}
.btn-apply {
    border-color: rgb(66, 90, 63);
    background-color: rgb(118, 161, 124);
}
.btn-apply:hover {
    background-color: rgb(54, 82, 43);
    color: rgb(224, 209, 182);
}
.btn-delete {
    border-color: rgb(124, 45, 45);
    background-color: rgb(197, 122, 100);
}
.btn-delete:hover {
    background-color: rgb(160, 56, 56);
    color: rgb(224, 209, 182);
}


.my-books-wrapp::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.my-books-wrapp::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.my-books-wrapp::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.my-books-wrapp {
    overflow-x: auto;
    height: 520px;
}
.user-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}


@media screen and (max-width: 750px) {
    .my-books-wrapp {
        width: 500px;
        margin: 5px auto;
        text-align: left;
    }
}


@media screen and (max-width: 450px) {
    .my-books-wrapp {
        width: 400px;
        margin: 2px auto;
        text-align: left;
    }
}